<section id="apps">
    {{#each webApps}}
        <div class="app-container">
            <a href="/{{name}}">
                <img src="/images/{{img}}" alt="app image">
            </a>

            <h3 class="app-name">// {{name}}</h3>
        </div>        
    {{/each}}
</section>
